/* App.css */

body {
  background-color: rgb(220, 218, 218);
}

#taskBtn {
  background: linear-gradient(0.25turn, #c05aff, #424242);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.app-container {
  background-color: rgb(220, 218, 218);
  min-height: 100vh;
}

.input-field {
  padding: 10px;
  font-size: 1.2rem;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: black;
}

.input-field::placeholder {
  color: rgb(191, 191, 191) !important;
  font-size: 1.2rem;
}

.btn-light {
  font-size: larger !important;
  font-family: "Helvetica", "Arial", sans-serif !important;
}

.btn-dark {
  font-size: large !important;
  font-family: "Helvetica", "Arial", sans-serif !important;
}

.btn-light:hover {
  background-color: rgb(147, 252, 221) !important;
  border-color: rgb(147, 252, 221) !important;
}

.btn-dark:hover {
  background-color: rgb(147, 252, 221) !important;
  border-color: rgb(147, 252, 221) !important;
  color: black !important;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

li span {
  flex: 1;
}

li div {
  display: flex;
}

.li-with-bullet {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.2rem;
}

.li-with-bullet::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
